body            { font-family: monospace; background: rgba(161, 153, 170, 0.199); font-size: 6em}
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Monospace', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.5em; }

.container {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.item-a {
  align-self: center
}

.item-b {
  align-self: center
}