<!DOCTYPE html>
<html lang="en">

<head>

    <title>{{('Hello, Space')}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<container>
        <item><span>...Loading...</span></item>
        <item><span>...Space...</span></item>
        <item><span>...Building...</span></item>
        <item><span>...Universe...</span></item>
</container>
<footer>

</footer>
</html>
