<!DOCTYPE html>
<html lang="en">

<head>

    <title>{{('Hello, Space')}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <ul container>
        <ul item-a>
            <div>...Loading Space...</div>
        </ul>
        <ul item-b>
            <div>...Building Universe...</div>
        </ul item-b>
    </div>
    </ul container>
</body>
<footer>

</footer>
</html>
